
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary: #252e38;
    --primary_light: #363e48;
    --yellow: #f1bb14;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--primary);
    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

.container{
    width: 92%;
    margin: auto;
    padding: 0 14px;
}

@import "./header/index.css";
@import "./footer/index.css";
@import "./products/list.css";
