header {
    background-color: var(--primary);
    color: #fff;
}

header .wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    width: 92%;
    margin: auto;
}

header .wrapper .nav__links ul{
    list-style-type: none;
}


header .wrapper .nav__links ul li{
    display: inline-block;
    margin-right: 20px;
}

header .wrapper .nav__links ul a:hover{
    color: var(--yellow);
    transition: 0.3s ease 0s;
}

header .wrapper .app__name {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 20px;
}

header .wrapper .app__name .ecomm{
    color: var(--yellow);
}

.account__cta a button{
    padding: 10px 30px;
    border: 0;
    margin-right: 5px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
}

.account__cta a .login__cta{
    background-color: var(--primary_light);
    color: #fff;
   
}

.account__cta a .login__cta:hover{
    color: var(--yellow);
    transition: 0.3s ease-in-out 0s;
}

.account__cta a .signup__cta{
    background-color: var(--yellow);
    color: var(--primary);
   
}

.account__cta a .signup__cta:hover{
    color: var(--primary_light);
   
}